{% extends 'admin/base/base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h2>Dashboard</h2>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="col-12">
            <h3>Gallery</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="col-12">
            <h3>Image</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="col-12">
            <h3>Text</h3>
        </div>
    </div>
</div>


{% endblock %}



