{% extends 'admin/base/base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-sm-12 col-md-3">

        <div class="col-12 mb-4">
            <a href="{{ url_for('admin.gallery_delete', id=gallery.id ) }}" class="btn btn-outline-primary">Delete</a>
            <button onclick="reorder('{{ gallery.id }}')" class="btn btn-outline-primary">Reorder</a>
        </div>

        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>id: </b> {{ gallery.id }}</li>
                <li class="list-group-item">
                    <div class="form-floating">
                        <input 
                            id="title"
                            class="form-control" 
                            type="text" 
                            placeholder="title" 
                            value="{{ gallery.title }}"
                            onchange="change_data({'obj':'gallery','id':'{{gallery.id}}', 'change':{'title':this.value}})">
                        <label for="title"><b>Gallery title</b></label>
                    </div>
                </li>
                <li class="list-group-item"><b>Num of foto: </b> {{ gallery.images|length }}</li>
                {% if gallery.images %}
                <li class="list-group-item"><b>Image folder: </b> {{ gallery.images[0].folder }}</li>
                {% endif %}
                <li class="list-group-item"></li>
            </ul>
        </div>

    </div>


    <div class="col-12 col-md-9">
        <ul class="list-group sortable " id="list">
            {% for image in gallery.images %}
            <li class="list-group-item d-flex justify-content-between align-items-center" name="{{ image.id }}">
                <img src="{{ url_for('uploaded_image', id=image.id )}}" class="img-fluid list-img">
                
                <div class="form-floating">
                    <input 
                        id="alt"
                        class="form-control" 
                        type="text" 
                        placeholder="Alt" 
                        aria-label="default input example" 
                        value="{{ image.alt }}"
                        onchange="change_data({'obj':'image','id':'{{image.id}}', 'change':{'alt':this.value}})">
                    <label for="alt">Comments</label>
                </div>
                <button onclick='rm_img("{{image.id}}","{{ gallery.id}}", this)' type="button"  class="btn-close"></a>

            </li>
            {% endfor %} 
        </ul>
    </div>

</div>
{% endblock %}

{% block js %}
<!-- drag and drop sorting -->
<script src="{{ url_for('static' , filename='utils/html5sortable/dist/html5sortable.min.js') }}"></script>
<script>
    sortable('.sortable', {
        forcePlaceholderSize: true,
        placeholder: '<div class="col-xs-12 col-sm-6 col-md-3 border" style="fsa" ></div>',
        hoverClass: 'shadow', // Defaults to false

    });
</script>


<!-- Remove img from gallery -->
<script>
    function rm_img(img_id, gal_id, el) {
        url = '/admin/rm_img_' + img_id + '_from_gal_' +  gal_id
        $.ajax({
            type: "GET",
            url: url,
            async: false,
            });
        
        el.parentElement.classList.add('d-none')
    }
</script>


<!-- REORDER -->
<script>
    function reorder(gal_id){
        let list = document.getElementById('list').children
        let data = []
        for (let i=0 ; i in list; ++i){
            data.push(list[i].getAttribute('name'))
        }

        $.ajax({
            type: "POST",
            url: '/admin/reorder_'+ gal_id,
            data: JSON.stringify({'data':data}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            });
        
    }
</script>
<script>
    function change_data(data){
        $.ajax({
            type: "POST",
            url: '/admin/change_data',
            data: JSON.stringify({'data':data}),
            contentType: "application/json; charset=utf-8",
            dataType:'json',
            });
    }
</script>
{% endblock %}