{% if page.archive == true %}
<input class="btn btn-outline-primary" type="submit" value="Publish" 
  onclick="pageUpdateAjax({'page':{'id':'{{page.id}}','archive':false}}); reload_page_info()">
{% elif page.archive == false %}
<input class="btn btn-outline-primary" type="submit" value="Archivate" 
  onclick="pageUpdateAjax({'page':{'id':'{{page.id}}','archive':true}}); reload_page_info()">
{% endif %}


<div class="mb-3">
    <label class="form-label">Slug</label>
    <input class="form-control" type="text" name="title" 
    {% if page.slug != None %}
        value="{{ page.slug }}"
    {% endif %}
    onchange="pageUpdateAjax({'page':{'id':'{{page.id}}','slug':this.value}})">
</div>
<div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" type="text" name="title" 
    {% if page.title != None %}
    value="{{ page.title }}"
    {% endif %}
    onchange="pageUpdateAjax({'page':{'id':'{{page.id}}','title':this.value}})">
</div>
<div class="mb-3">
    <label class="form-label">Description</label>
    <input class="form-control"  type="text" name="description"
    {% if page.description != None %}
    value="{{ page.description }}"
    {% endif %}
    onchange="pageUpdateAjax({'page':{'id':'{{page.id}}','description':this.value}})">
</div>


<div id="blocks">
    {% set block = page.blocks %}
    {% include('admin/block/block_logic.html') %}
</div>