<div class="row">
    <h4>Pulished pages</h4>
    
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Num of blocks</th>
          </tr>
        </thead>
        <tbody>
          {% for page in pages  if page.archive == False %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a class='btn btn-outline-secondary' 
                  href="{{ url_for('admin.page_update', id=page.id)}}"
                  >Update</a>
                <a class='btn btn-outline-secondary' 
                  href="{{ url_for('detail', slug=page.slug)}}" 
                  target="_blank"
                  >Open</a>
                <input class="btn btn-outline-danger" type="submit" value="Archivate" 
                  onclick="pageUpdateAjax({'page':{'id':'{{page.id}}','archive':true}});load_pages_info();">
            </td>
            
            <td>{{ page.id}}</td>
            <td>{{ page.title }}</td>
            <td>{{ page.blocks | length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <h4>Archive</h4>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Num of blocks</th>
          </tr>
        </thead>
        <tbody>
          {% for page in pages if page.archive == True %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a class='btn btn-outline-secondary' 
                  href="{{ url_for('admin.page_update', id=page.id)}}"
                  target="_blank"
                  >Update</a>
                <input class="btn btn-outline-success" type="submit" value="Publish" 
                  onclick="pageUpdateAjax({'page':{'id':'{{page.id}}','archive':false}});load_pages_info();">
                <input class="btn btn-outline-danger" type="submit" value="DELETE" 
                  onclick="pageUpdateAjax({'page':{'id':'{{page.id}}','archive':true}});load_pages_info();">
            </td>
            
            <td>{{ page.id}}</td>
            <td>{{ page.title }}</td>
            <td>{{ page.blocks | length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>