<html lang="it-IT" prefix="og: http://ogp.me/ns#"><head>
    <!-- Cookie Banner Iubenda -->
	<script src="https://cdn.iubenda.com/iubenda.js"></script><script src="https://cdn.iubenda.com/iubenda.js"></script><script async="" src="https://www.iubenda.com/cookie-solution/confs/js/86815877.js"></script><script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/vP4jQKq0YJFzU6e21-BGy3GP/recaptcha__it.js" crossorigin="anonymous" integrity="sha384-XEVeslbqujJ7cHm5p2TzwdDPo7fbnHYIZRs80J01+wStU2fHGH8fth3dDwTKgAVG"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://cdn.iubenda.com/cookie_solution/iubenda_cs/1.42.3/core-it.js"></script><script src="https://connect.facebook.net/signals/config/253295788770685?v=2.9.84&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub.js"></script><script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"lang":"it","siteId":1399356,"enableCMP":true,"cookiePolicyId":86815877, "banner":{ "textColor":"#e8e8e8","backgroundColor":"#5A5A5A","acceptButtonDisplay":true,"acceptButtonColor":"#ce0000","acceptButtonCaptionColor":"white","customizeButtonDisplay":true,"customizeButtonColor":"#212121","customizeButtonCaptionColor":"white" }};
</script><script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async=""></script>
    <!-- End Cookie Banner Iubenda -->
	<!-- Global site tag (gtag.js) - Google Analytics -->

	<!-- End Global site tag (gtag.js) - Google Analytics -->
	<!-- Facebook Pixel Code -->

<!-- End Facebook Pixel Code -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="https://gmpg.org/xfn/11">


<!-- Search Engine Optimization by Rank Math - https://s.rankmath.com/home -->
<title>Tappezzeria Nautica, Moquette e Cuscineria | Tappezzeria Moderna</title>
<meta name="description" content="Scopri i nostri servizi di Tappezzeria Nautica. Effettuiamo rivestimenti di interni ed esterni e realizzazioni su misura di moquette, cuscineria e tanto altro!">
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
<link rel="canonical" href="">
<meta property="og:locale" content="it_IT">
<meta property="og:type" content="article">
<meta property="og:title" content="Tappezzeria Nautica ">
<meta property="og:description" content="Scopri i nostri servizi di Tappezzeria Nautica. Effettuiamo rivestimenti di interni ed esterni e realizzazioni su misura di moquette, cuscineria e tanto altro!">
<meta property="og:url" content="">
<meta property="og:site_name" content="Tappezzeria Nautica">
<meta property="article:published_time" content="2019-11-20T11:52:19+00:00">
<meta property="article:modified_time" content="2021-07-15T11:20:00+00:00">
<meta property="og:updated_time" content="2021-07-15T11:20:00+00:00">
<meta property="og:image" content="">
<meta property="og:image:secure_url" content="">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="691">
<meta property="og:image:alt" content="Tappezzeria Nautica">
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Tappezzeria Nautica, Moquette e Cuscineria | Tappezzeria Moderna">
<meta name="twitter:description" content="Scopri i nostri servizi di Tappezzeria Nautica. Effettuiamo rivestimenti di interni ed esterni e realizzazioni su misura di moquette, cuscineria e tanto altro!">
<meta name="twitter:image" content="https://tappezzeriamoderna.it/wp-content/uploads/2020/01/Tappezzeria-Nautica.jpg">
<script type="application/ld+json">{"@context":"https:\/\/schema.org","@graph":[{"@type":"Article","headline":"Tappezzeria nautica, rifacimento cuscineria e tendaggi","description":"Vuoi rinnovare la tappezzeria della tua barca?  Con Tappezzeria Moderna rivesti e personalizzi cuscini e divani di imbarcazioni","datePublished":"2019-11-20T11:52:19+00:00","dateModified":"2021-07-15T11:20:00+00:00","publisher":{"@type":"Organization","name":"Tappezzeria Moderna","logo":{"@type":"ImageObject","url":"https:\/\/tappezzeriamoderna.it\/wp-content\/uploads\/2019\/11\/Tappezzeria-Moderna.png"}},"mainEntityOfPage":{"@type":"WebPage","@id":"https:\/\/tappezzeriamoderna.it\/tappezzeria-nautica\/"},"author":{"@type":"Person","name":"Tappezzeria Moderna"},"image":{"@type":"ImageObject","url":"https:\/\/tappezzeriamoderna.it\/wp-content\/uploads\/2020\/01\/Tappezzeria-Nautica.jpg","width":200,"height":200}}]}</script>
<!-- /Rank Math WordPress SEO plugin -->

<!-- Facebook Pixel Code -->

<!-- End Facebook Pixel Code -->



<body itemtype="https://schema.org/WebPage" itemscope="itemscope" data-elementor-device-mode="desktop" >

