{% extends 'admin/base/base.html' %}
{% block content %}
<a class="btn btn-outline-primary" href="{{ url_for('admin.text_add') }}" role="button">Add new text-block</a>
{% if text_list %}

<div class="row my-2">
{% for text in text_list %}
    <div class="col-6 shadow p-3">
        <div class="col-12">
            {{ text.text | safe }}
        </div>
        <div class="col-12">
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>id: </b> {{ text.id }}</li>
            <li class="list-group-item"></li>
            </ul>
        </div>
        <div class="col-12 mt-4">
            <a href="{{ url_for('admin.text_update', id=text.id ) }}" class="btn btn-outline-primary">Update</a>
            <a href="{{ url_for('admin.text_delete', id=text.id ) }}" class="btn btn-outline-primary">Delete</a>
        </div>
    </div>
{% endfor %}
</div>

{% else %}
<p>You dont have any text</p>
{% endif %}



{% endblock %}