<!doctype html>
<html lang="it-IT">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="author" content="Dmytro Andreiuk">

  <!-- style.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='base/css/style.css') }}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='base/bootstrap/bootstrap.min.css') }}"> 
  

</head>

<body>
  <nav>
  {% include 'user/base/nav.html' %}
  </nav>
  <main>
  {% block content %}{% endblock %}
  </main>

  {% block js %}{% endblock %}

</body>

</html>
