{% include('admin/block/nav.html') %}


{% if image.title != none %}
    {% set image = image %}
    {% include('admin/image/single_image.html') %}
{% endif %}

<div class="m-3">
    <div class="mb-3">
        <label for="file_{{ image.id }}" class="form-label">Upload image</label>
        <input class="form-control" type="file" id="file_{{ image.id }}" >
    </div>

    <button 
        class="btn btn-outline-secondary" 
        type="button" 
        id="upload-button"
        onclick="uploadFiles('file_{{ image.id }}', {'type':'image','id' :'{{ image.id }}'})"
    >Upload</button>
</div>



